* {
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* FONTS */

@font-face {
  font-family: "WorkSansReg";
  src: url("../../assets/fonts/work-sans/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "WorkSansIt";
  src: url("../../assets/fonts/work-sans/WorkSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "WorkSansBold";
  src: url("../../assets/fonts/work-sans/WorkSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "WorkSansSemiBold";
  src: url("../../assets/fonts/work-sans/WorkSans-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "WremenaReg";
  src: url("../../assets/fonts/wremena/WremenaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "WremenaBold";
  src: url("../../assets/fonts/wremena/WremenaBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*
COULEURS
Gris clair : #ededed;
Noir : #222;
Texte noir : #666;
Violet : #7d4893;
Vert : #90c592;
*/



/* GENERAL */

body {
	position: relative;
	background: #fbfbfb;
}



/* --- TEXTES GENERAL --- */

body {
	color: #666;
	font-family: "WorkSansReg";
}

h1, h2, h3, h4 {
	font-weight: 300;
}

h1 {
	font-family: "WremenaReg";
	color: #90c592;
	font-size: 2rem;
	text-align: center;
}
h2 {
	font-family: "WremenaReg";
	color: #90c592;
	font-size: 1.45rem;
	text-align: center;
}
h2 a {
	text-decoration: none;
	color: #90c592;
}

h3, h4 {
	font-family: "WorkSansReg";
	font-size: 0.7rem;
	margin-top: 10px;
	text-align: center;
	padding: 0px 20px;
}
h4 {
	border: 1px solid inherit;
	padding: 1px;
}
article > p {
	font-family: "WremenaReg";
	font-size: 1rem;
	line-height: 20px;
	margin-top: 20px;
	text-indent: 10px;
}
article li {
	font-family: "WremenaReg";
	font-size: 1rem;
	line-height: 20px;
	padding-left: 5px;
	margin-left: 20px;
}
article strong {
	font-family: "WremenaBold";
	font-weight: normal;
}
article em {
}
p a {
	text-decoration: underline;
	cursor: help;
	color: inherit;
}

/* font awesome */
.fas {
	font-size: .5rem;
	opacity: .8;
}

/* TEXTES EVENTS */

/* TEXTES CONTRIBS */







/* --- MODULES --- */
article {
	margin-bottom: 15px;

	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.1);
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	background: #fbfbfb;

	overflow: hidden;
}

/* audio */
.plyr--audio .plyr__controls {
	background: none;
}



/* --- HEADER --- */

header {
	position: sticky;
	z-index: 10;
	top: 0px;
	left: 0px;

	border-bottom: 1px solid #ededed;
	background: #fbfbfb;
}
header .row .col:nth-child(2) {
	text-align: center; 
}
header .row .col:last-child {
	text-align: right; 
}
header h2, h2 a {
	font-family: "WorkSansSemiBold";
	color: #7d4893;
	font-size: 1.3rem;
	text-decoration: none;
}
header p {
	margin-top: 4px;
	font-size: 0.9rem;
}
/* toggle lang */
header p a {
	text-decoration: none;
	color: #666;
	cursor: pointer;
}
header p a.selected {
	border-bottom: 3px dotted #7d4893;
}




/* SUB HEADER */

.sub-header {
	padding: 30px;
}
/*
.sub-header h3 {
	font-family: "WorkSansReg";
	font-size: 0.6rem;
	margin-top: 10px;
	text-align: center;
	padding: 0px 20px;
}
*/





/* --- LAYOUT --- */

/*
	|------------------------------------|
	|            #main_row               |
	|------------------------------------|
	| #container_ws | #container_contrib |
	|------------------------------------|
*/

#main_row {
	align-items: flex-start;
}
#container_contrib {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

#container_ws > div {
	position: relative;
	z-index: 10;
}
#container_ws > div {
	margin-top: 20rem;
}
#container_ws > div:first-of-type {
	margin-top: 10rem;
}
#container_ws > div label, #container_ws .conf {
	cursor: pointer;
}







/* EVENTS */


/* style pour input */
.container_checkbox input {
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	margin-bottom: 10px;
}

.event a {
	text-decoration: inherit;
	color: inherit;
}
.event h3 a::after, .event p a::after {
	font-family: "Font Awesome 5 Free";
	content: "\f35d";
	padding-left: 4px;
	margin-right: 3px;
	font-weight: 900;
	font-size: .5rem;
	opacity: .8;
}
.event h3 a:hover, .event p a:hover {
	text-decoration: underline;
}


/* --- CONTRIBUTIONS --- */


/* BLOCK IMG */
img {
	width: 100%;
	display: block;
}

.contrib img {
	cursor: pointer;
}

/* flou au lazyloaad */
img.blur-up {
	opacity: .7;

	filter: gray;
	-webkit-filter: grayscale(1) blur(3px);
	filter: grayscale(1) blur(3px);
	transition: filter 400ms, -webkit-filter 400ms;
}
img.blur-up.lazyloaded {	
	filter: gray;
	-webkit-filter: grayscale(1) blur(0px);
	filter: grayscale(1) blur(0px);
}

/* lors d'une sélection : couleur + z-index sur les contribs */
.contrib.selected article img {
	filter: none; /* IE6-9 */
	-webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
	filter: grayscale(0); /* Microsoft Edge and Firefox 35+ */
	opacity: 1;
}
.contrib.selected article {
	z-index: 10;
	
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
#container_contrib.filtered .contrib:not(.selected) article {
	opacity: .4;
} 

/* Légende de la contribution */
.contrib article .caption {
	margin-top: 10px;
}
.caption h3 {
	text-align: initial;
}
.caption .row div:nth-child(2) {
	text-align: right; 
}
.caption h3, .caption p, p.caption {
	margin-top: 0px;
	padding: 0px;

	font-family: "WorkSansReg";
	font-size: 0.6rem;
	line-height: 10px;
}

/* block vidéo */

.plyr video {
	opacity: .7;
	filter: gray;
	-webkit-filter: grayscale(1) blur(0px);
	filter: grayscale(1) blur(0px);
}
.contrib.selected .plyr video {
	filter: none; /* IE6-9 */
	-webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
	filter: grayscale(0); /* Microsoft Edge and Firefox 35+ */
	opacity: 1;
}

/* Contributions text */

.contrib.text article {
	cursor: pointer;
}
.contrib.text article > p {
	display: none;
}









/* --- CONFERENCES --- */

/* style pour une galerie d'images liée au son */
.gallery figure:not(.visible) {
	display: none;
}
.visible {
	display: block;
}



.conf .TextformatterVideoEmbed {
	display: none;
}
.TextformatterVideoEmbed {
	margin: 20px 0 40px 0;
}









/* general */
svg {
	display: block;
}




/* Fenetre modale */
.modal:not(.active) {
	display: none;
}
.modal.active {
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 10;

	width: 100vw;
	height: 100vh;
	
	background: rgba(79, 79, 79, 0.5);
}

.modal .close_modal {
	position: fixed;
	z-index: 20;
	top: 0px;
	right: 0px;
	padding: 0;

	border-radius: 50%;

	background: hsla(0,0%,100%,.75);

	cursor: pointer;
}
.modal .close_modal:hover {
	background: #fff;
}

.modal .close_modal:focus {
    outline: 0;
    box-shadow: 0 0 0 5px #19f;
}

/* Slide */
#slider {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;

	background: rgba(255,255,255,.5);

	width: 100%;
	height: 100vh;
}
#slider .slide {
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

#slider .contrib img {
    filter: none;
    -webkit-filter: grayscale(0);
   	filter: grayscale(0);
	opacity: 1;
}
#slider .contrib img {
	max-width: 80vw;
	max-height: 90vh;
}

/* modale texte */
#txt {
}
.contrib.txt {
	margin-top: 50px;
}
.txt article {
	max-height: calc(100vh - 100px);
	overflow-y: scroll;
	padding: 40px 40px 40px 40px;
}

#txt .caption {
    margin-top: 40px;
	margin-bottom: 50px;
}





/* --- FOOTER --- */

footer {
	background: #fbfbfb;
	border-top: 1px solid #ededed;
}
footer ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
footer ul li {
	list-style: none;
	margin-right: 50px;
	margin-bottom: 2rem;
}
footer img {
	max-width: 100%;
	max-height: 40px;
}



/* --- RESPONSIVE --- */

@media only screen and (min-width : 0px) and (max-width : 576px) {

#slider .contrib img {
	max-width: 100vw;
}

header h2, h2 a {
	font-size: 1rem;
}
header p {
    font-size: 0.8rem;
}


.caption h3 {
	display: none;
}
.caption .row div:nth-child(2) {
    text-align: left;
}

}

@media only screen and (min-width : 577px) and (max-width : 768px) {
#slider .contrib img {
	max-width: 100vw;
}

header h2, h2 a {
	font-size: 1rem;
}
header p {
    font-size: 0.8rem;
}


.caption h3 {
	display: none;
}
.caption .row div:nth-child(2) {
    text-align: left;
}
}